ion-menu-toggle img {
  width: 50px;
}

.scroll {
  background: #ededed;
}
ion-item {
  --border-color: var(--ion-color-primary);
}

.amount{
  max-width: 160px !important;
  margin: 5px auto; 
    --border-color: #fff;

}

.menu-img{
  width: 40px;
  border-radius: 50%;
}